[Unit]
Description=Arch Linux automatic update scheduler

[Timer]
OnBootSec=5sec
OnUnitActiveSec=1day
Persistent=true

[Install]
WantedBy=timers.target
